apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"django-messaging-app","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"django-app"}},"template":{"metadata":{"labels":{"app":"django-app"}},"spec":{"containers":[{"image":"messaging_app-web","imagePullPolicy":"IfNotPresent","name":"django-app","ports":[{"containerPort":8000}]}]}}}}
  creationTimestamp: "2025-12-11T17:28:09Z"
  generation: 2
  name: django-messaging-app
  namespace: default
  resourceVersion: "5798"
  uid: e845e0c4-3b1f-4a21-88e5-75eca5c1e031
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: django-app
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
      - image: messaging_app-web
        imagePullPolicy: IfNotPresent
        name: django-app
        ports:
        - containerPort: 8000
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 3
  conditions:
  - lastTransitionTime: "2025-12-11T17:28:09Z"
    lastUpdateTime: "2025-12-11T17:28:12Z"
    message: ReplicaSet "django-messaging-app-6b5779bf54" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-12-11T18:23:59Z"
    lastUpdateTime: "2025-12-11T18:23:59Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 3
  replicas: 3
  updatedReplicas: 3
