version: '3.9'

services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DB: ${DB_NAME}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3307:3306"
  
  web:
    build: .
    command: sh -c "./wait-for-it.sh db:3306 --timeout=60 --strict -- python3 manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
